{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@db": "./db",
					"@services": "./services",
					"@routes": "./routes",
					"@controllers": "./controllers",
					"@logs": "./logs",
					"@lib": "./lib",
					"@config": "./config"
				}
			}
		]
	]
}